// -- Sizes
$cont-xl: 800px;
$cont-lg: 700px;
$cont-md: 500px;
$cont-sm: 100%;

// -- Colors
$dark-main: #161b22;
$dark-secondary: #0d1117;

$gray-main: #30363d;
$gray-secondry: #8b949e;

$light-main: #fff;

$blue-main: #58a6ff;
$blue-secondary: #1f6feb;
